<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/assets/img/logo1-s.png"></a>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/my_list">Clients</a></li>
        </ul>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-header">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-header">
        <li>
          <div class="menu-avatar">
            <img src="https://pocket-image-cache.com/direct?url=https%3A%2F%2Flh6.googleusercontent.com%2F-YWLcoKTwrUw%2FAAAAAAAAAAI%2FAAAAAAAAACY%2FPTiqaIvRSD4%2Fphoto.jpg&amp;amp;resize=w80-h80">
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav">
          <li class="dropdown">  
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-menu-dd-toggle">
              <span class="nav-username">Pepe Leches</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">My profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>        
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  